@model List<Category>

<div class="header">
    <a is-displayed="@User.IsInRole(Role.Admin.ToString())" href="/Category/Get" class="btn btn-warning mr-2">➕</a>

    <h1>Каталог 📃</h1>
</div>
<div class="grid-items">
    @{
        foreach (var category in Model)
        {
            <div class="card col-sm-4">
                <img class="card-img-top default-img-size"
                     src="@category.ImagePath"
                     alt="@category.Name"
                     asp-append-version="true" />

                <div class="card-body">
                    <h5 class="card-title">@category.Name</h5>

                    <div class="edge-pressed">
                        <div>
                            <a class="btn btn-primary" href="/Product/GetAll?CategoryName=@category.Name">Открыть</a>
                        </div>

                        <div is-displayed="@User.IsInRole(Role.Admin.ToString())">
                            <a class="btn btn-warning" href="/Category/Get?CategoryName=@category.Name">📝</a>
                            <a class="btn btn-danger" href="/Category/Delete?CategoryId=@category.Id">🧺</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>